.accueil {
  background-image: url("../assets/media/img/image-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 1px;

  @media (max-width: 1025px) {
    background-image: url("../assets/media/img/image-1-bis.jpg");
  }

  nav {
    height: 12vh;
    width: 95%;
    display: grid;
    grid-template-columns: 25% 57% 18%;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-areas: "log na ico";

    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr;
      grid-template-rows: 12vh 12vh;
      grid-template-areas:
        "log"
        "na";
    }

    .logo {
      grid-area: log;
      @include verticalCenter;
      padding: 10px 0;

      h1 {
        font-size: 2.3rem;
      }
    }

    .nav-elements {
      grid-area: na;
      display: flex;
      justify-content: space-around;
      align-items: center;

      ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
          font-size: 1.3rem;
          transition: transform 0.3s ease-in-out;

          @media screen and (max-width: 500px) {
            font-size: 1.1rem;
          }

          &:hover {
            transform: scale(1.1);
          }

          a {
            color: $color-2;
            transition: color 0.3s ease-in-out;

            &:hover {
              color: $color-1;
            }
          }
        }
      }
    }

    .nav-icons {
      grid-area: ico;
      @include verticalCenter;

      @media screen and (max-width: 1100px) {
        display: none;
      }

      ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li {
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.3);
            color: $color-1;
          }

          a {
            color: $color-2;
            transition: color 0.3s;

            &:hover {
              color: $color-1;
            }
          }
        }
      }
    }
  }

  .trip-formulaire {
    height: 75vh;
    // min-height: 360px;
    width: 90%;
    max-width: 700px;
    min-width: 350px;
    align-self: center;
    margin-bottom: 10px;

    .tabs {
      position: relative;
      height: 100%;
      width: 100%;

      .tab-buttons {
        position: absolute;
        height: 100%;
        right: -75px;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .tab-icon {
          font-size: 1.2rem;
          background-image: linear-gradient(to bottom, #f4f1ee, #fff);
          background-color: #c5c5c56e;
          color: rgba(136, 136, 136, 0.726);
          border-radius: 50%;
          box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3),
            inset 0px 3px 1px 1px rgba(236, 236, 236, 0.783),
            inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
          float: left;
          height: 70px;
          // margin: 0 30px 30px 0;
          position: relative;
          width: 70px;
          transition: all 0.2s linear;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;

          &.active {
            background-image: linear-gradient(to bottom, #efedec, #f7f4f4);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4),
              inset 0px 3px 1px 1px rgb(252, 252, 252);
              background-color: #e7e7e7b4;
              color: #3b3b3b;
          }

          &:hover {
            background-image: linear-gradient(to bottom, #fff, #f4f1ee);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4),
                inset 0px 3px 1px 1px rgba(250, 250, 250, 0.9);
            color: #575757;
            transform: scale(1.1);
          }
        }
      }

      /* Style des contenus des onglets */
      #vol,
      #sejour,
      #volsejour,
      #voiture {
        width: 100%;
        height: 100%;
        display: block;
        background-color: #e7e7e73b;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

        h3 {
          display: inline-block;
          font-size: clamp(0, 8rem, 0, 6727rem + 0, 5818vw, 1rem);
          margin-bottom: 10px;
          padding: 7px 10px;
          border-radius: 50px;
          background-color: #e7e7e7a9;
        }
      }

      #vol {
        #flight-form {
          .select-group-one {
            margin-bottom: 10px;

            .ant-select{
              font-size: 14px;
              height: 32px;
              min-width: 150px;

              // .ant-select-selector{

              //   .ant-select-selector-search{

              //   }
              // }
            }

            // ul {
            //   display: flex;
            //   justify-content: center;
            //   align-items: center;
            //   gap: 5%;

            //   li {
            //     background-color: #e7e7e767;
            //     border-radius: 5px;

            //     input[type="radio"] {
            //       display: none;

            //       &:checked + label {
            //         background-color: #3498db;
            //         color: #fff;
            //         border: 1px solid #3498db;
            //       }
            //     }

            //     label {
            //       display: inline-block;
            //       padding: 8px 16px;
            //       font-style: italic;
            //       font-size: 0.7rem;
            //       font-weight: bold;
            //       text-transform: uppercase;
            //       cursor: pointer;
            //       border: 1px solid #ccc;
            //       border-radius: 5px;
            //       transition: background-color 0.3s ease;

            //       &:hover {
            //         background-color: #f0f0f0;
            //       }
            //     }
            //   }
            // }
          }

          .flights {
           
            .input-dep-flightdate {
              display: block;
            }

            .input-ret-flightdate {
              display: block;
            }

                         .suggestions {
                           position: absolute;
                           height: 160px;
                           width: 340px;
                           padding: 10px;
                           top: 60%;
                           left: 50%;
                           transform: translateX(-50%);
                           background-color: rgb(221, 221, 221);
                           box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                           border-radius: 5px;
                           z-index: 20;
            
                           ul {
                             height: 100%;
                             display: flex;
                             flex-direction: column;
                             justify-content: space-around;
            
                             // gap: 20px;
                             li {
                               font-size: 0.8rem;
                               text-align: left;
                               cursor: pointer;
                               padding: 10px;
            
                               &:hover {
                                 background-color: rgb(197, 197, 197);
                                 border-radius: 10px;
                               }
                             }
                           }
                         }
          }

          .passengers {
            #toogle-passenger-selector {
              align-items: center;
            }

            #passenger-selector {
              align-items: center;

              span {
                font-size: 0.8rem;
                margin: 0 10px;
              }

              button {
                padding: 4px 7px;
                font-size: 0.8rem;
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 50%;
                cursor: pointer;
              }
            }
          }

          #add-flight-button {
            // display: block;
            background-color: #0073e6;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin-top: 10px;
            cursor: pointer;

            &:hover {
              background-color: #005bbf;
            }
          }
        }
      }
      #sejour {
        #sejour-form {
          position: relative;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 30px;

          .suggestions {
            position: absolute;
            height: 160px;
            width: 340px;
            padding: 10px;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgb(221, 221, 221);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            z-index: 20;

            ul {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              // gap: 20px;
              li {
                font-size: 1.1rem;
                cursor: pointer;
                padding: 10px;

                &:hover {
                  background-color: rgb(197, 197, 197);
                  border-radius: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  // --------------------------------------------------------------------------------

  // /* Style de contenu de l'onglet VOLSEJOUR */

  // #volsejour {
  //   display: block;
  // }
}
